In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics

In [2]:
df = pd.read_csv('blogtext.csv')

In [3]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [4]:
df.shape

(681284, 7)

The dataset is too large, we will be reducing the dataset for faster computation

taking a random sample of 3400 rows

In [7]:
df_new = df.sample(frac=0.005)

In [8]:
df_new.shape

(3406, 7)

Data pre-processing

In [9]:
df_text = df_new[['text']]
df_text = df_text.applymap(lambda x: re.sub(r"[^0-9A-Za-z ]+","",str(x)))

In [10]:
df_text.head()

                                                     text
343424         1 What food do you like that most peopl...
295263          Mood  Content  Music  Phone ringing   ...
385392                ORGANIZING   I think I need to u...
646772         It was soo weird seeing Canada 72nd on ...
355964             Yesterday moved quickly I spoke to ...

Converting gender, age, topic and sign as one column - labels

In [11]:
df_labels = df_new['gender'].astype(str)+ ", "+df_new['age'].astype(str)+ ", "+df_new['topic'].astype(str)+", "+df_new['sign'].astype(str)

In [12]:
df_labels = pd.DataFrame(df_labels, columns = ['labels'])

In [13]:
df_final = df_text.join(df_labels)

In [14]:
df_final.head()

,text,labels
343424,1 What food do you like that most peopl...,"male, 26, Fashion, Cancer"
295263,Mood Content Music Phone ringing ...,"female, 23, Advertising, Cancer"
385392,ORGANIZING I think I need to u...,"female, 26, indUnk, Taurus"
646772,It was soo weird seeing Canada 72nd on ...,"male, 16, Student, Pisces"
355964,Yesterday moved quickly I spoke to ...,"male, 33, indUnk, Taurus"

In [15]:
df_final.shape

(3406, 2)

In [18]:
genderCount = df_new['gender'].value_counts().to_dict()
ageCount = df_new['age'].value_counts().to_dict()
topicCount = df_new['topic'].value_counts().to_dict()
signCount = df_new['sign'].value_counts().to_dict()

In [19]:
label_counts = {**genderCount , **ageCount, **topicCount, **signCount}

In [20]:
label_counts

{'female': 1721,
 'male': 1685,
 17: 429,
 24: 393,
 23: 370,
 25: 364,
 16: 361,
 26: 269,
 27: 226,
 15: 206,
 14: 131,
 34: 110,
 33: 88,
 35: 79,
 13: 64,
 36: 63,
 37: 48,
 38: 33,
 40: 28,
 39: 21,
 43: 21,
 41: 20,
 45: 19,
 47: 17,
 48: 15,
 42: 15,
 46: 9,
 44: 7,
 'indUnk': 1243,
 'Student': 798,
 'Technology': 220,
 'Arts': 168,
 'Education': 145,
 'Communications-Media': 95,
 'Non-Profit': 73,
 'Internet': 69,
 'Engineering': 64,
 'Law': 47,
 'Publishing': 41,
 'Science': 35,
 'Consulting': 32,
 'Government': 30,
 'BusinessServices': 28,
 'Advertising': 24,
 'Marketing': 23,
 'Religion': 23,
 'Accounting': 22,
 'Fashion': 22,
 'HumanResources': 22,
 'Sports-Recreation': 20,
 'Chemicals': 19,
 'Banking': 18,
 'RealEstate': 15,
 'Military': 14,
 'Telecommunications': 12,
 'Manufacturing': 12,
 'Museums-Libraries': 9,
 'Tourism': 8,
 'Transportation': 8,
 'LawEnforcement-Security': 8,
 'Architecture': 8,
 'Biotech': 7,
 'Construction': 6,
 'Automotive': 6,
 'Agriculture': 4,
 'InvestmentBanking': 3,
 'Environment': 3,
 'Maritime': 2,
 'Aries': 338,
 'Cancer': 331,
 'Libra': 323,
 'Taurus': 321,
 'Scorpio': 287,
 'Virgo': 281,
 'Pisces': 260,
 'Sagittarius': 260,
 'Gemini': 259,
 'Leo': 258,
 'Capricorn': 256,
 'Aquarius': 232}

Seperating as features and labels

In [21]:
X = df_final['text']
y = df_final['labels']

Splitting into train and test

In [22]:
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=42, test_size = 0.2)

Vectorizing the features

In [23]:
vect = CountVectorizer(ngram_range=(1,2), stop_words='english', min_df=2)
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [24]:
print(vect.get_feature_names()[-15:])

['zeal', 'zealand', 'zen', 'zero', 'zillion', 'zines', 'zip', 'zodiac', 'zoe', 'zombie', 'zombies', 'zone', 'zones', 'zoo', 'zoo visit']

Transforming the labels using MultiLabelBinarizer

In [25]:
y_train_new = [set(i.split(',')) for i in y_train]
y_test_new = [set(i.split(',')) for i in y_test]

In [26]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
y_train = mlb.fit_transform(y_train_new)
y_test = mlb.transform(y_test_new)

Using One Vs Rest classifier

In [27]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(C=1, solver='lbfgs', max_iter = 1000000)
model = OneVsRestClassifier(model)
model.fit(X_train_dtm, y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=1, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None,
                                                 max_iter=1000000,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [29]:
y_pred = model.predict(X_test_dtm)

Accuracy score:

In [53]:
metrics.accuracy_score(y_test, y_pred)

0.002932551319648094

F1 score:

In [54]:
metrics.f1_score(y_test, y_pred, average = 'samples')

0.267867616254713

Precision score:

In [55]:
metrics.precision_score(y_test, y_pred, average='samples')

0.5035679374389052

Recall score:

In [56]:
metrics.recall_score(y_test, y_pred, average = 'samples')

0.1935483870967742

In [63]:
y_test_pred_inversed = mlb.inverse_transform(y_pred_class)
y_test_inversed = mlb.inverse_transform(y_test)
for i in range(350,355):
    print('Title:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test.iloc[i],
        ','.join(y_test_inversed[i]),
        ','.join(y_test_pred_inversed[i])
    ))

Title:	       Somehow I neglected to mention the phone call I got a couple of weeks ago just after Id begun to see what a jackass my commander is It was from the FBI I filled out an online background form and the recruiter in Albany called to arrange for me to take the Special Agents Exam Which is June 23 at least a week after we leave  So as soon as we get back Ill finish that process She said theyd already done a preliminary background check based on the internet thing and that my military and intelligence experience make me more or less a shooin  Im already making plans for dropping my paperwork Its best to do it from over there when there will be too many distractions for anyone to take much notice If I drop the separation paperwork now it will earn me a great deal of animosity   But you know after last week I dont know that I  care  What are you gonna do to me stamp my mealcard No Dessert Send me to Iraq   Maybe this deployment is exactly what needed to happen give me the impetus to finally get out and go FBI before its too late In fact if I waited another year it  would  be too late they have an age restriction I often find it irritating to hear chirpy little people say that everything happens for a reason but perhaps in this case its true Ill save enough money to cover whatever move Id have to make and I know Ill be so burned out Ill be motivated to stay the course get to and through the Academyand after Officer Candidate School how tough could it be
True labels:	 33, Military, Virgo,female
Predicted labels:	female


Title:	        Ok  now Im pissed off   After going to see my tutor today for my progress meeting which happened to be 15 minutes late and last 25 minutes too long I met up with Kirstie and went down to the park  We were having lunch blah blah blah and Kirstie who sadly bought Harry Potter stickers and has a crush on Alan Rickman who plays Snape was looking through her stickers and got all excited when she found one of Snape Ok  Its not cool to blag it But these PikeysTowniesChavsKevs whatever you want to call them told her to shut up   I quite frankly thinks its none of their business what we do in a public park The two boys looked like they were going to pass out probably too much information from school How do you spell AND again and the girls hair was so bleached it looked like she permanantley has her hair in a bucked of bleach  So  I have now come to decision  eventually  that these sort of people need to be taken care of  There are a number of options  1 We shoot them all  The Bang Bang  all gone strategy would give me so much pleasure Without them we wouldnt have hooligans pay less benefits and all be safe knowing that when we go to get our wallet its still there Marks out of 10    I give it 7 I dont want to be sent to jail  2 We leave them alone  What a stupid idea Less said the better    I give it 3 marks I wont give it a high mark as I suspect pikeys cant count past 4   3 We start beating them up  Now this sounds like fun The Squish Squish method sounds very tempting However I am not a bully so I give this one 5  So it looks like Ive found a strategy  Let the shooting begin
True labels:	 17, Taurus, indUnk,male
Predicted labels:	 indUnk,male


Title:	       This week is  urlLink Lisas  birthday week too  urlLink The Age Thing
True labels:	 38, Virgo, indUnk,female
Predicted labels:	male


Title:	                 Yeah its me  Cannot get enough of Gregs long expressive fingers  Leslie You know I am a Mississippi girl Sheps home state  He is pretty hot  Did you see him in People  Welcome Jan okay if Gregs reports are a little sterile as long as hes not
True labels:	 46, Accounting, Sagittarius,female
Predicted labels:	 indUnk,female


Title:	             I think this is something at least majority of you can enjoy however I must warn you that not everything here I wrote Ill put a dash in front of everything that I wrote   When the Charlotte Bobcats open their 265 million arena next year Barry Silberman expects there will be skepticism about the invisible innovation that will be floating all around the fans  Hes talking about WiFi which stands for wireless fidelity and allows users to wirelessly access the Internet via laptops and PDAs Hotels airports and coffee shops have become commonplaces for these WiFi Hotspots   Hes suggesting its going to be common in sports too In about five years he says any arena or stadium that hasnt gone WiFi will be the exception  While venues testing WiFi have already ranged from  Purdues football stadium  the Sacramento River Cats minor league baseball park and the NFL Pittsburgh Steelers stadium the San Francisco Giants stadium might be the most WiFienabled sports site   Says Giants chief information officer Bill Schlough Its like walking into Starbucks Except our WiFi is free   The idea is that fans can go online and access content such as historical videos trivia games and realtime statistics thats on the Internet or through customized material available only in the stadium Eventually the club hopes to let fans order concessions by WiFi Just to noteMcDonalds is supposed to do this the year we graduate   Although only about 200 fans a games now use the Giants WiFi Schlough admits there is backlash Theres a lot of purist fans who scoff at anybody bringing laptops to games Ive been heckled when I go in the stands But then theyll end up wanting to look over your shoulder  But even Schlough isnt always pleased The real problem is business people coming and doing their office emails at the game  Rich Mayberry a cofounder of Orlandobased Kosmos Studios worked with the Giants and the Steelers In 2003 the Steelers equipped luxury suites and club seats with WiFi allowing fans to wirelessly call up four different TV camera angles But the big WiFi use he says came from kids playing online games And when the parents wanted to see things the kids wouldnt let them on  Silberman notes the WiFi arena also could help first responders communicate in an emergency and even improve cell phone reception throughout the venue He suggests a WiFi killer app as in the winning option will be a fans access to TV replays that might not even be available on TV although he wants to avoid any unnecessary intrusions on fans  Nowwhats funny about this is that our own High School now has WiFi in the CAVE that is accessible to anyone who comes to the basketball games or anything held in there now  Sodoes that make us special and sport historymaking too   Just thought some of you might enjoy this  NowIm not going to overdo it but I figured I could add some of my character to this blog by bringing in technology news from around the world maybe once a week  If you get bored with ittell me  Not all of them will be this long of coursethis just seemed special because of the amount of interest it would bring in from everyone on the site
True labels:	 16, Education, Taurus,male
Predicted labels:	 24, Technology,male